@use "sass:map";
@use "sass:color";

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
) !default;
$other-weights: (
  "regular": 400,
  "medium": 500 ,
  "bold": 700
) !default;
$fz-red: red !default;

:root {
  $clr-primary-red: red;
  $clr-secondary: red;
  $surface: red;
  $on-surface: red;

  --clr-primary: red;
  --clr-secondary: red;
  --clr-surface: red;
  --clr-on-surface: red;
  --clr-container: red;
  --clr-on-container: red;
}

@each $value in map.keys($font-weights) {
  $value: map-get($other-weights, $key);
}

.class {
  $primary: red;
  $round-value: 20px;

  @extend .red;
  @extend .blue;

  @include red;
  @include black;

  @each $value in map.keys($font-weights) {
    $value: map-get($other-weights, $key);
  }

  @for $i from 0 through 10 {
    .class {
      background: $i;
    }
  }

  @if $condition {
    background: red;
  } @else if $condition {
    background: orange;
  } @else {
    background: black;
  }
}

.another-class {

  @if $condition {
    background: red;
  }

  background: red;
}
