:root {
  --sys-color-primary: black;
  --sys-color-on-primary: black;
  --sys-color-primary-container: black;
  --sys-color-on-primary-container: black;

  /* Secondary */
  --sys-color-secondary: black;
  --sys-color-on-secondary: black;

  /* Thertriary */
  --sys-color-tertiary: black;
  --sys-color-on-tertiary: black;

  /* Surface */
  --sys-color-surface: black;
  --sys-color-on-surface: black;

  /* Surface container */
  --sys-color-surface-container-highest: black;
  --sys-color-on-surface-container-highest: black;
  --sys-color-surface-container-high: black;
  --sys-color-on-surface-container-high: black;
  --sys-color-surface-container: black;
  --sys-color-on-surface-container: black;
  --sys-color-surface-container-low: black;
  --sys-color-on-surface-container-low: black;
  --sys-color-surface-container-lowest: black;
  --sys-color-on-surface-container-lowest: black;
  --sys-color-focus-outline: black;
  --sys-color-outline: black;
  --sys-color-outline-variant: black;
}
